.main-container {
  display: block;
  float: left;
  width: 80%;
  margin: 0 10% 150px 10%;
  height: auto;
}
#HTMLtoPDF {
  font-size: 26px;
}
.wrap-btn {
  width: 100%;
  display: block;
  text-align: center;
}
.wrap-btn .btn {
  color: #fff;
  background: #47a3da;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 20px 0 0;
  display: inline-block;
  transition: background 0.75.s;
}
.wrap-btn .btn:hover {
  background: #02639d;
  transition: background 0.75.s;
}
